@import url('fonts.css');


:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "FuturaBookC", sans-serif;
  --third-family: "FuturaFuturisC", sans-serif;
  --font3: "FuturaDemiC", sans-serif;
  --font4: "FuturaLightC", sans-serif;
  --font5: "Proxima Nova", sans-serif;
  --main-color: #07086C;
  --font-color-1: #fff;
  --font-color-2: rgba(#969af7);
}

:root {
  --header-height: 141px;
  --main-padding-1: utopia.clamp(8, 320);
  --fluid-15-43: clamp(0.9375rem, 0.5875rem + 1.75vw, 2.6875rem);
}


body {
  scroll-behavior: smooth;
  background: #f2f2f4;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  height: 1900px;
}

body {

  div,
  nav,
  header,
  a,
  button,
  ul,
  article {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button {
  border: none;
  background: transparent;
}

.normalText1 {
  font-family: var(--font4);
  font-weight: 300;
  font-size: 18px;
  line-height: 123%;
}

.normalText2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 123%;
}

.normalText3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
}

.bigText1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: utopia.clamp(32, 69);
  line-height: 100%;
  text-transform: uppercase;
}

.bigText2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 23px;
  text-align: center;
}